<!DOCTYPE HTML>
<html lang="ko" ng-app="soundPriceMonitor">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta id="myViewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">

	<script>
		window.onload = function(){
			if (window.innerWidth < 733){
				var mvp = document.getElementById('myViewport');
				mvp.setAttribute('content','width=733');
			}
		}
	</script>

	<title>사운드픽프랜즈 가격 모니터링 시스템</title>
	<link rel="stylesheet" href="stylesheets/normalize.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/fontium.css">

	<script type="text/javascript" src='//code.jquery.com/jquery-1.11.0.min.js'></script>
	<script src="/javascripts/angular-1.5.5.js"></script>
	<script src="/javascripts/angular-resource.js"></script>
	<script src="/javascripts/angular-route.js"></script>

    <!--[if IE]>
    <script language="javascript" type="text/javascript" src="/javascripts/json3.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="route.js"></script>
    <script type="text/javascript" src="angular/controller/headerController.js"></script>
    <script type="text/javascript" src="angular/controller/sideController.js"></script>
    <script type="text/javascript" src="angular/controller/mainController.js"></script>
    <script type="text/javascript" src="angular/controller/loginController.js"></script>
    <script type="text/javascript" src="angular/controller/logoutController.js"></script>

    <script type="text/javascript" src="angular/directive/products.js"></script>
    <script type="text/javascript" src="angular/directive/product.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header" ng-controller="headerController as headerCtrl">
			<h1 id="welcome-msg" ng-bind="headerCtrl.title"></h1>
			<div id="user-option" ng-if="sessionValid">
				<a class="btn reg-btn" href="#/logout">
					<i class="fonti um-user-times"></i>
					<small>Logout</small>
				</a>
				<!--
				<a class="btn reg-btn" href="">
					<i class="fonti um-info-circle"></i>
					<small>alert</small>
				</a>
			-->
			<a class="btn reg-btn" target="_blank" ng-click="headerCtrl.sheetid()">
				<i class="fonti um-edit"></i>
				<small>edit</small>
			</a>
			<a class="btn reg-btn" href="" ng-click="headerCtrl.sync()">
				<i class="fonti um-share-square-o"></i>
				<small>sync</small>
			</a>
		</div>
	</div>
	<div id="left-side" ng-controller="sideController as sideCtrl">
		<div id="side-area">
			<div id="notice">
				<h2><i class="fonti um-bell-o"></i> 공지사항</h2>
				<ul class="lists" ng-if="sessionValid">
					<li ng-repeat="notice in notice_list"><a ng-href="{{notice.notice_url}}" target="_blank" ng-bind="notice.notice_name"></a></li>
				</ul>
			</div>
			<div id="alerted-list">
				<h2><i class="fonti um-info-circle"></i> 최근 알림</h2>
				<ul class="lists" ng-if="sessionValid">
					<li ng-click="goto_alert(aProduct.no)" class="alert" ng-repeat="aProduct in alertedProduct track by $index">
						<h3 ng-bind="aProduct.title"></h3>
						<span class="marginal">
							<span ng-bind="aProduct.marginal"></span>원
						</span>
						<span class="alert-time" ng-bind="aProduct.datetime"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<ng-view></ng-view>
	<div id="footer">
		<span class="copyright">
			FUNCLASS All Copyright Reserved. 2016.
		</span>
	</div>
</div>
</body>
</html>