<!DOCTYPE HTML>
<html lang="ko" ng-app="soundPriceMonitor">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta id="myViewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">

	<script>
		window.onload = function(){
			if (window.innerWidth < 733){
				var mvp = document.getElementById('myViewport');
				mvp.setAttribute('content','width=1000');
			}
		}
	</script>

	<title>사운드픽프랜즈 가격 모니터링 시스템</title>
			<link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="/static/stylesheets/normalize.css">
	<link rel="stylesheet" href="/static/stylesheets/style.css">
	<link rel="stylesheet" href="/static/stylesheets/fontium.css">

	<script type="text/javascript" src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
	<script src="/static/javascripts/angular-1.5.5.js"></script>
	<script src="/static/javascripts/angular-resource.js"></script>
	<script src="/static/javascripts/angular-route.js"></script>

    <!--[if IE]>
    <script language="javascript" type="text/javascript" src="/javascripts/json3.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/static/app.js"></script>
    <script type="text/javascript" src="/static/route.js"></script>
    <script type="text/javascript" src="/static/angular/controller/headerController.js"></script>
    <!-- <script type="text/javascript" src="/static/angular/controller/sideController.js"></script> -->
    <script type="text/javascript" src="/static/angular/controller/mainController.js"></script>
    <script type="text/javascript" src="/static/angular/controller/loginController.js"></script>
    <script type="text/javascript" src="/static/angular/controller/logoutController.js"></script>
    <script type="text/javascript" src="/static/angular/controller/configController.js"></script>

    <script type="text/javascript" src="/static/angular/directive/products.js"></script>
    <script type="text/javascript" src="/static/angular/directive/product.js"></script>
    <script type="text/javascript" src="/static/angular/directive/sms_target.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header" ng-controller="headerController as headerCtrl">
			<h1 id="welcome-msg" ng-bind="headerCtrl.title"></h1>
			<div id="user-option">
				<a class="btn reg-btn" href="#/logout">
					<i class="fonti um-user-times"></i>
					<small>Logout</small>
				</a>

				<a class="btn reg-btn" href="/#/">
					<i class="fonti um-desktop-center-eye"></i>
					<small>main</small>
				</a>

				<a class="btn reg-btn" href="#/config">
					<i class="fonti um-sitemap"></i>
					<small>config</small>
				</a>
			
			<a class="btn reg-btn" target="_blank" ng-click="headerCtrl.sheetid()">
				<i class="fonti um-edit"></i>
				<small>edit</small>
			</a>
			<a class="btn reg-btn" href="" ng-click="headerCtrl.sync()">
				<i class="fonti um-share-square-o"></i>
				<small>sync</small>
			</a>
		</div>
	</div>
<!-- 	<div id="left-side" ng-controller="sideController as sideCtrl">
		<div id="side-area">
			<div id="notice">
				<h2><i class="fonti um-bell-o"></i> 공지사항</h2>
				<ul class="lists">
					<li ng-repeat="notice in notice_list"><a ng-href="" target="_blank" ng-bind="notice.notice_name"></a></li>
				</ul>
			</div>
			<div id="alerted-list">
				<h2><i class="fonti um-info-circle"></i> 최근 알림</h2>
				<ul class="lists">
					<li ng-click="goto_alert(aProduct.no)" class="alert" ng-repeat="aProduct in alertedProduct track by $index">
						<h3 ng-bind="aProduct.title"></h3>
						<span class="marginal">
							<span ng-bind="aProduct.marginal"></span>원
						</span>
						<span class="alert-time" ng-bind="aProduct.datetime"></span>
					</li>
				</ul>
			</div>
		</div>
	</div> -->
	<ng-view></ng-view>
	<div id="footer">
		<span class="copyright">
			FUNCLASS All Copyright Reserved. 2016.
		</span>
	</div>
</div>
</body>
</html>