@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: '나눔고딕', NanumGothic, '맑은고딕', MalgunGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif;
  font-weight: 300;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
  font-size: 12px;
  background-color: #EFEFEF;
  color: #222; }

div, span, h1, h2, h3, h4, h5, h6, p, a, label, input, button, strong, small, ul, ol, li, th, td {
  font-family: 'Nanum Gothic', '나눔고딕', NanumGothic, 'NanumGothicWeb', '맑은고딕', MalgunGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif !important; }

a {
  color: #00B7FF; }

h1 {
  font-size: 2em;
  font-weight: 200;
  padding-left: 0.5rem; }

h2 {
  font-size: 1.6em;
  font-weight: 200;
  padding-left: 0.5rem; }

h3 {
  font-size: 1.2em;
  font-weight: 300;
  padding-left: 0.5rem; }

h4 {
  font-size: 1em;
  padding-left: 0.5rem; }

#loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center; }
  #loading span {
    display: inline-block;
    margin: 10rem auto; }
    #loading span i {
      font-size: 50px;
      margin: 1rem; }

#wrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  #wrapper #header {
    float: left;
    display: inline-block;
    width: 100%;
    height: 4rem;
    background-color: #262626;
    color: white;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px 13px black; }
    #wrapper #header #welcome-msg {
      float: left;
      display: inline-block;
      width: calc(100% - 20rem);
      margin: 1.3rem 0;
      padding-left: 10px;
      font-size: 1.2rem;
      font-size: 200; }
    #wrapper #header #user-option {
      float: left;
      display: inline-block;
      width: 20rem;
      text-align: right; }
  #wrapper #left-side {
    float: left;
    height: calc(100% - 4rem);
    background-color: #EFEFEF;
    border-right: 1px solid #BFBFC1;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto; }
    #wrapper #left-side #side-area {
      float: left;
      vertical-align: top;
      display: inline-block;
      width: 17rem; }
      #wrapper #left-side #side-area #notice .lists, #wrapper #left-side #side-area #alerted-list .lists {
        display: block;
        padding: 0.5rem;
        margin: 0;
        width: calc(100% - 1px);
        background-color: #FFFFFF; }
        #wrapper #left-side #side-area #notice .lists li, #wrapper #left-side #side-area #alerted-list .lists li {
          display: inline-block;
          width: 100%;
          padding: 0.5rem;
          margin: 0;
          margin-top: 1px;
          border-bottom: 1px solid white;
          color: black;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          border-left: 0.5rem solid #E0E0E0; }
          #wrapper #left-side #side-area #notice .lists li.alert, #wrapper #left-side #side-area #alerted-list .lists li.alert {
            border-left: 0.5rem solid #E50066;
            cursor: pointer; }
            #wrapper #left-side #side-area #notice .lists li.alert:hover, #wrapper #left-side #side-area #alerted-list .lists li.alert:hover {
              background-color: #EFEFEF;
              transition: 0.2s; }
            #wrapper #left-side #side-area #notice .lists li.alert h3, #wrapper #left-side #side-area #alerted-list .lists li.alert h3 {
              display: inline-block;
              width: 70%; }
            #wrapper #left-side #side-area #notice .lists li.alert .marginal, #wrapper #left-side #side-area #alerted-list .lists li.alert .marginal {
              display: inline-block;
              width: 30%;
              text-align: right;
              font-weight: 700; }
            #wrapper #left-side #side-area #notice .lists li.alert .alert-time, #wrapper #left-side #side-area #alerted-list .lists li.alert .alert-time {
              display: block;
              width: 100%;
              text-align: right;
              color: #E0E0E0;
              padding: 0; }
          #wrapper #left-side #side-area #notice .lists li:first-child, #wrapper #left-side #side-area #alerted-list .lists li:first-child {
            border-top: 1px solid white; }
          #wrapper #left-side #side-area #notice .lists li a, #wrapper #left-side #side-area #alerted-list .lists li a {
            text-decoration: none;
            color: black; }
            #wrapper #left-side #side-area #notice .lists li a:link, #wrapper #left-side #side-area #notice .lists li a:visited, #wrapper #left-side #side-area #notice .lists li a:active, #wrapper #left-side #side-area #alerted-list .lists li a:link, #wrapper #left-side #side-area #alerted-list .lists li a:visited, #wrapper #left-side #side-area #alerted-list .lists li a:active {
              text-decoration: none; }
  #wrapper ng-view {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: calc(100% - 3.9rem);
    vertical-align: top;
    background-color: #EFEFEF;
    overflow-y: auto; }
  #wrapper #footer {
    z-index: 1000;
    position: fixed;
    display: inline-block;
    width: 25rem;
    padding: 5px;
    left: calc(50% - 12.5rem);
    bottom: 0;
    text-align: center;
    background-color: #EFEFEF;
    background: #EFEFEF;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), #EFEFEF, #EFEFEF);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), #EFEFEF, #EFEFEF);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), #EFEFEF, #EFEFEF);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #EFEFEF, #EFEFEF);
    /* Standard syntax */ }
    #wrapper #footer .copyright {
      display: inline-block;
      width: 100%; }

#main-options {
  position: fixed;
  top: 4rem;
  left: 0;
  display: inline-block;
  width: 200px;
  height: calc(100% - 4rem);
  padding: 0.5rem;
  margin: 0;
  overflow-y: auto; }
  #main-options select {
    margin: 0.2rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    width: 5rem;
    background-color: #d4e4f4;
    border: 0; }

#main {
  position: fixed;
  top: 4rem;
  right: 0;
  display: inline-block;
  width: 100%;
  height: calc(100% - 4rem);
  padding: 0;
  margin: 0;
  overflow-y: auto;
  z-index: 500; }
  #main #brand-clone-header {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 4rem;
    right: 0;
    z-index: 501;
    background: #EFEFEF;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #EFEFEF, #EFEFEF);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #EFEFEF, #EFEFEF);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #EFEFEF, #EFEFEF);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #EFEFEF, #EFEFEF);
    /* Standard syntax */ }

.btn {
  display: inline-block;
  padding: 0.4rem 0.7rem;
  margin: 0.5rem 0.25rem;
  border-radius: 8px;
  text-decoration: none;
  background-color: transparent;
  font-size: 1rem;
  height: 3rem;
  text-align: center;
  cursor: pointer;
  border: 0;
  box-shadow: 0; }
  .btn.reg-btn {
    color: white; }
    .btn.reg-btn small {
      display: block;
      font-size: 0.6rem; }
    .btn.reg-btn.bg {
      background-color: #262626; }
  .btn.rectangle-btn {
    color: #535353;
    background-color: #E0E0E0;
    border-radius: 0.2rem;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem; }

.transparent-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

#login {
  float: left;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 600; }
  #login #login-form {
    position: fixed;
    display: inline-block;
    width: 24rem;
    top: calc(50% - 128px);
    left: calc(50% - 12rem);
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    font-size: 0.8rem;
    z-index: 1000; }
    #login #login-form h2 {
      text-align: center;
      margin-bottom: 2rem; }
    #login #login-form input {
      display: block;
      margin: 0.2rem 1rem;
      padding: 1rem;
      font-size: 1.3rem;
      font-weight: 700;
      height: 3.5rem;
      width: calc(100% - 2rem);
      background-color: #d4e4f4;
      border: 0; }
      #login #login-form input[type='email'] {
        border-radius: 0.2rem 0.2rem 0 0; }
      #login #login-form input[type='password'] {
        border-radius: 0 0 0.2rem 0.2rem; }
    #login #login-form button {
      display: block;
      margin-top: 2rem;
      height: 3.5rem;
      width: 100%;
      background-color: #259adb;
      border: 0;
      font-size: 1.3rem;
      font-weight: 700;
      color: white;
      border-radius: 0 0 0.5rem 0.5rem; }
  #login .tail {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 1rem; }

products {
  float: left;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.5rem 0; }
  products product {
    float: left;
    display: inline-block;
    width: 98%;
    margin: 0.2rem 1%;
    background-color: #ffffff;
    padding: 1rem;
    border-left: 0.5rem solid #E0E0E0; }
    products product.alert {
      border-left: 0.5rem solid #E50066; }
      products product.alert .marginal {
        color: #E50066; }
    products product .product-img {
      float: left;
      display: inline-block;
      width: 4.5rem;
      height: 4.5rem;
      margin: 0;
      padding: 0;
      overflow: hidden; }
      products product .product-img img {
        max-width: 4.5rem; }
    products product h3 {
      float: left;
      display: inline-block;
      width: calc(100% - 41rem);
      padding: 1rem;
      margin: 0; }
    products product h4 {
      margin: 0.3rem; }
    products product .min {
      width: 100%;
      font-size: 1.5rem; }
    products product .marginal {
      width: 100%;
      font-size: 1.5rem;
      text-align: center; }
    products product .product-origin-info {
      float: left;
      display: inline-block;
      width: 10rem;
      text-align: right;
      padding-top: 1rem; }
    products product .product-semi-info {
      float: left;
      display: inline-block;
      width: 10rem;
      text-align: right;
      padding-top: 1rem; }
    products product .product-marginal-info {
      float: left;
      display: inline-block;
      width: 10rem;
      text-align: right;
      padding-top: 1rem; }
    products product .product-option-group {
      float: left;
      display: inline-block;
      width: 5.8rem;
      text-align: right; }
      products product .product-option-group a {
        margin: 0; }

.brand-header {
  display: block;
  width: 100%;
  padding: 0.5rem 0; }
  .brand-header h2 {
    display: inline-block;
    width: calc(100% - 40rem);
    margin: 0 1rem; }
  .brand-header h4 {
    display: inline-block;
    margin: 0.3rem;
    width: 10rem;
    text-align: center; }

@media all and (max-width: 1199px) {
  #left-side {
    display: none; }
  ng-view {
    width: 100%; } }

@media all and (min-width: 1200px) {
  #left-side {
    display: inline-block;
    width: 17rem;
    display: none; }
  ng-view {
    width: 100%; } }

#config {
  display: block;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  padding: 0;
  margin: 0 auto; }
  #config input[type=text], #config input[type=tel] {
    display: block;
    margin: 0.2rem 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    width: calc(100% - 4rem);
    background-color: #d4e4f4;
    border: 0; }
  #config span.checkbox {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle; }
    #config span.checkbox input[type=checkbox] {
      position: absolute;
      display: none;
      width: 0;
      height: 0;
      top: 0;
      left: 0; }
    #config span.checkbox i.fonti {
      opacity: 0;
      position: absolute;
      font-size: 50px;
      top: 0;
      left: 0; }
      #config span.checkbox i.fonti.selected {
        opacity: 1; }
      #config span.checkbox i.fonti.um-toggle-off {
        color: #333; }
      #config span.checkbox i.fonti.um-toggle-on {
        color: green; }
  #config section {
    width: 98%;
    margin: 0.2rem 1%;
    background-color: #ffffff;
    padding: 1rem;
    border-left: 0.5rem solid #E0E0E0; }
  #config .list {
    width: 100%; }
    #config .list th, #config .list td {
      text-align: center; }
      #config .list th button, #config .list td button {
        height: auto; }
  #config .select-sms-send-time button.selected {
    transition: 0.2s;
    background-color: #E50066;
    color: white; }
