@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@mixin gradientBackground($direction, $color) {
	background: $color; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient($direction, rgba(255,255,255,0), $color, $color); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($direction, rgba(255,255,255,0), $color, $color); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($direction, rgba(255,255,255,0), $color, $color); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to $direction, rgba(255,255,255,0), $color, $color); /* Standard syntax */
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: '나눔고딕', NanumGothic, '맑은고딕', MalgunGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif;
	font-weight: 300;
  //iOS 클릭 딜레이 제거
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	min-width: 1000px;
	height: 100%;
	overflow: hidden;
	overflow-x: auto;
  //기본 폰트사이즈 12px
  font-size: 12px;
  background-color: #EFEFEF;
  color: #222;
}

div, span, h1, h2, h3, h4, h5, h6, p, a, label, input, button, strong, small, ul, ol, li, th, td{
	font-family: 'Nanum Gothic', '나눔고딕', NanumGothic, 'NanumGothicWeb', '맑은고딕', MalgunGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif !important;
}

a {
	color: #00B7FF;
}

h1{
	font-size: 2em;
	font-weight: 200;
	padding-left: 0.5rem;
}

h2{
	font-size: 1.6em;
	font-weight: 200;
	padding-left: 0.5rem;
}

h3{
	font-size: 1.2em;
	font-weight: 300;
	padding-left: 0.5rem;
}
h4{
	font-size: 1em;
	padding-left: 0.5rem;
}

#loading{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	span{
		display: inline-block;
		margin: 10rem auto;
		i{
			font-size: 50px;
			margin: 1rem;
		}
	}
}

#wrapper{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;

	#header{
		float: left;
		display: inline-block;
		width: 100%;
		height: 4rem;
		background-color: #262626;
		color: white;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid gray;
		box-shadow: 0px 0px 13px rgba(0,0,0,1);

		#welcome-msg{
			float: left;
			display: inline-block;
			width: calc(100% - 20rem);
			margin: 1.3rem 0;
			padding-left: 10px;
			font-size: 1.2rem;
			font-size: 200;
		}

		#user-option{
			float: left;
			display: inline-block;
			width:20rem;
			text-align: right;
		}
	}

	#left-side{
		float: left;
		height: calc(100% - 4rem);
		background-color: #EFEFEF;
		border-right : 1px solid #BFBFC1;
		vertical-align: top;
		overflow-x:hidden;
		overflow-y: auto;
		#side-area{
			float: left;
			vertical-align: top;
			display: inline-block;
			width:17rem;
			#notice, #alerted-list{
				h2{

				}
				.lists{
					display: block;
					padding: 0.5rem;
					margin: 0;
					width: calc(100% - 1px);
					background-color: #FFFFFF;
					li{
						display: inline-block;
						width: 100%;
						padding: 0.5rem;
						margin: 0;
						margin-top: 1px;
						border-bottom: 1px solid white;
						color: black;
						overflow: hidden;
						text-overflow:ellipsis;
						white-space:nowrap;
						word-wrap:normal;
						border-left: 0.5rem solid #E0E0E0;
						&.alert{
							border-left: 0.5rem solid #E50066;
							cursor: pointer;
							&:hover{
								background-color: #EFEFEF;
								transition: 0.2s;
							}
							h3{
								display: inline-block;
								width: 70%;
							}
							.marginal{
								display: inline-block;
								width: 30%;
								text-align: right;
								font-weight: 700;
							}
							.alert-time{
								display: block;
								width: 100%;
								text-align: right;
								color: #E0E0E0;
								padding: 0;
							}
						}
						&:first-child{
							border-top: 1px solid white;
						}
						a{
							text-decoration: none;
							color: black;
							&:link, &:visited, &:active{
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}

	ng-view{
		display: inline-block;
		margin: 0;
		padding: 0;
		height: calc(100% - 3.9rem);
		vertical-align: top;
		background-color: #EFEFEF;
		overflow-y: auto;
	}

	#footer{
		z-index: 1000;
		position: fixed;
		display: inline-block;
		width: 25rem;
		padding: 5px;
		left: calc(50% - 12.5rem);
		bottom: 0;
		text-align: center;
		background-color: #EFEFEF;
		@include gradientBackground(bottom, #EFEFEF);
		.copyright{
			display: inline-block;
			width: 100%;
		}
	}
}

#main-options{
	position: fixed;
	top: 4rem;
	left: 0;
	display: inline-block;
	width: 200px;
	height: calc(100% - 4rem);
	padding: 0.5rem;
	margin: 0;
	overflow-y: auto;
	select{
		margin: 0.2rem;
		padding: 0.5rem;
		font-size: 1rem;
		font-weight: 700;
		height: 3rem;
		width: 5rem;
		background-color: #d4e4f4;
		border: 0;
	}
}

#main{
	position: fixed;
	top: 4rem;
	right: 0;
	display: inline-block;
	// width: calc(100% - 200px);
	width: 100%;
	height: calc(100% - 4rem);
	padding: 0;
	margin: 0;
	overflow-y:auto;
	z-index: 500;
	#brand-clone-header{
		display: inline-block;
		padding:0;
		margin: 0;
		position: fixed;
		top:4rem;
		right: 0;
		z-index: 501;
		@include gradientBackground(top, #EFEFEF);
	}
}

.btn{
	display: inline-block;
	padding: 0.4rem 0.7rem;
	margin: 0.5rem 0.25rem;
	border-radius: 8px;
	text-decoration: none;
	background-color: transparent;
	font-size: 1rem;
	height: 3rem;
	text-align: center;
	cursor: pointer;
	border: 0;
	box-shadow: 0;
	&.reg-btn{
		color: white;
		small{
			display: block;
			font-size: 0.6rem;
		}
		&.bg{
			background-color: #262626;
		}
	}
	&.rectangle-btn{
		color: #535353;
		background-color: #E0E0E0;
		border-radius: 0.2rem;
		width: 4.5rem;
		height: 4.5rem;
		padding: 1rem;
	}
}

.transparent-background{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

#login{
	float: left;
	display: block;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 600;
	#login-form{
		position: fixed;
		display: inline-block;
		width: 24rem;
		top: calc(50% - 128px);
		left: calc(50% - 12rem);
		border-radius: 0.5rem;
		background-color: #FFFFFF;
		font-size: 0.8rem;
		z-index: 1000;
		h2{
			text-align: center;
			margin-bottom: 2rem;
		}
		input{
			display: block;
			margin: 0.2rem 1rem;
			padding: 1rem;
			font-size: 1.3rem;
			font-weight: 700;
			height: 3.5rem;
			width: calc(100% - 2rem);
			background-color: #d4e4f4;
			border: 0;
			&[type='email']{
				border-radius: 0.2rem 0.2rem 0 0;
			}
			&[type='password']{
				border-radius: 0 0 0.2rem 0.2rem;
			}
		}
		button{
			display: block;
			margin-top: 2rem;
			height: 3.5rem;
			width: 100%;
			background-color: #259adb;
			border: 0;
			font-size: 1.3rem;
			font-weight: 700;
			color: white;
			border-radius: 0 0 0.5rem 0.5rem;
		}
	}
	.tail{
		position: fixed;
		display: block;
		bottom: 0;
		right: 0;
		text-align: right;
		font-size: 1rem;
	}
}

products{
	float: left;
	display:inline-block;
	width: 100%;
	margin: 0;
	padding: 0.5rem 0;
	product{
		float: left;
		display: inline-block;
		width: 98%;
		margin: 0.2rem 1%;
		background-color: #ffffff;
		padding: 1rem;
		border-left: 0.5rem solid #E0E0E0;
		&.alert{
			border-left: 0.5rem solid #E50066;
			.marginal{
				color: #E50066;
			}
		}
		.product-img{
			float: left;
			display: inline-block;
			width: 4.5rem;
			height: 4.5rem;
			margin: 0;
			padding : 0;
			overflow: hidden;
			img{
				max-width: 4.5rem;
			}
		}
		h3{
			float: left;
			display: inline-block;
			width: calc(100% - 41rem);
			padding: 1rem;
			margin:0;
		}
		h4{
			margin: 0.3rem;
		}
		.min{
			width: 100%;
			font-size: 1.5rem;
		}
		.marginal{
			width: 100%;
			font-size: 1.5rem;
			text-align: center;
		}
		.product-origin-info{
			float: left;
			display: inline-block;
			width: 10rem;
			text-align: right;
			padding-top: 1rem;
		}
		.product-semi-info{
			float: left;
			display: inline-block;
			width: 10rem;
			text-align: right;
			padding-top: 1rem;
		}
		.product-marginal-info{
			float: left;
			display: inline-block;
			width: 10rem;
			text-align: right;
			padding-top: 1rem;
		}
		.product-option-group{
			float: left;
			display: inline-block;
			width: 5.8rem;
			text-align: right;
			a{
				margin: 0;
			}
		}
	}
}

.brand-header{
	display: block;
	width: 100%;
	padding: 0.5rem 0;
	h2{
		display: inline-block;
		width: calc(100% - 40rem);
		margin: 0 1rem;
	}
	h4{
		display: inline-block;
		margin: 0.3rem;
		width: 10rem;
		text-align: center;
	}
}

@media all and (max-width : 1199px) {
	#left-side{
		display: none;
	}
	ng-view{
		width: 100%;
	}
}

@media all and (min-width:1200px) {
	#left-side{
		display: inline-block;
		width: 17rem;
		display: none;
	}
	ng-view{
		width: 100%;
	}
}

#config{
	display: block;
	width: 100%;
	max-width: 1000px;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	input[type=text], input[type=tel]{
		display: block;
		margin: 0.2rem 1rem;
		padding: 1rem;
		font-size: 1rem;
		font-weight: 700;
		height: 3rem;
		width: calc(100% - 4rem);
		background-color: #d4e4f4;
		border: 0;
	}
	span.checkbox{
		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;
		vertical-align: middle;
		input[type=checkbox]{
			position:absolute;
			display: none;
			width: 0;
			height: 0;
			top: 0;
			left: 0;
		}
		i.fonti{
			opacity: 0;
			position: absolute;
			font-size: 50px;
			top: 0;
			left: 0;
			&.selected{
				opacity: 1;
			}
			&.um-toggle-off{
				color: #333;
			}
			&.um-toggle-on{
				color: green;
			}
		}
	}
	section{
		width: 98%;
		margin: 0.2rem 1%;
		background-color: #ffffff;
		padding: 1rem;
		border-left: 0.5rem solid #E0E0E0;
	}
	.list{
		width: 100%;
		th, td{
			text-align: center;
			button{
				height: auto;
			}
		}
	}
	.select-sms-send-time{
		button.selected{
			transition: 0.2s;
			background-color: #E50066;
			color: white;
		}
	}
}