<div id="config">
<h1>sms 수신관리</h1>
	<section>
		<table class="list">
			<thead>
				<tr>
					<th>별칭</th>
					<th>번호</th>
					<th>수신여부</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr sms-target ng-repeat="list in sms_target_list" list="list"></tr>
				<tr>
					<td colspan="4">
					<button ng-click="add_sms_target_number_row()" class="btn reg-btn" 
					style="font-size:1.3rem;color:#666;">
						<i class="fonti um-plus-circle"></i>
					</button></td>
				</tr>
			</tbody>
		</table>
	</section>
	<h1>수신시간 선택</h1>
	<section class="select-sms-send-time">
		<div>
			<button ng-repeat="time in time_range" ng-click="click_schedule(time)" ng-class="{'selected' : check_is_time_selected(time) == true}" class="btn rectangle-btn">
			{{time}}시
			</button>
		</div>
	</section>
</div>