<div id="login">
	<div class="transparent-background"></div>
	<form id="login-form" class="loginForm" name="loginForm" method="POST" ng-submit="loginForm.$valid && post()" novalidate>
		<h2>사픽프랜즈 가격 모니터링 시스템</h2>
		<input type="email" name="id" placeholder="아이디(이메일)" ng-model="id">
		<input type="password" name="password" placeholder="비밀번호" ng-model="password">
		<button ng-disabled="loginForm.$invalid">로그인</button>
	</form>
	<div class="tail">
		<p>가입/계정확인 등 문의가 필요하시면 <tel>070-7814-0007</tel>으로 연락주시기 바랍니다.</p>
	</div>
</div>