<!-- <div id="main-options">
	<h2>검사주기</h2>
	<label>
		<select ng-model="parse_interval" name="parse_interval">
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="15">15</option>
		<option value="30">30</option>
		<option value="60" selected>60</option>
		</select>
		분마다
	</label>
</div> -->
<div id="main">
	<div id="brand-clone-header"></div>
	<div id="products-wrapper"></div>
</div>
<div id="loading">
<span>
	<i class="fonti um-spinner-time um-spin"></i>
	<br>엑셀시트 로딩중...
	</span>
</div>