<span class="product-img"><img ng-src="{{product.imageUrl}}"></span>
<h3 ng-bind="product.title"></h3>
<div class="product-origin-info">
	<span class="price min"><span ng-bind="product.optLowPrice | number : fractionSize"></span>원</span>
	<br>
	<span>~</span>
	<span class="price max"><span ng-bind="product.optHighPrice | number : fractionSize"></span>원</span>
</div>
<div class="product-semi-info">
	<span class="price min"><span ng-bind="product.lprice | number : fractionSize"></span>원</span>
	<br>
	<span>~</span>
	<span class="price max"><span ng-bind="product.hprice | number : fractionSize"></span>원</span>
</div>
<div class="product-marginal-info">
	<span class="price marginal"><span ng-bind="product.marginal | number : fractionSize"></span>원</span>
</div>
<div class="product-option-group">
	<a class="btn rectangle-btn" ng-href="{{product.url}}" target="_blank">
		<i class="fonti um-link"></i>
		<small>page</small>
	</a>
</div>