<td>
	<input type="text" ng-model="list.nickname" placeholder="이름/구분">
</td>
<td>
	<input type="tel" ng-model="list.target_phone_number" placeholder="'-'없이 입력하세요.">
</td>
<td>
	<div ng-show="{{list.id !== undefined}}">
	<span class="checkbox" ng-click="switch_send_status()">
		<input type="checkbox" value="1" ng-model="list.send_switch" ng-true-value="1" ng-false-value="0" ng-change="send_switch()">
		<i class="fonti um-toggle-off" ng-class="{'selected' : list.send_switch == 0}"></i>
		<i class="fonti um-toggle-on" ng-class="{'selected' : list.send_switch == 1}"></i>
		</span>
	</div>
	<div ng-show="{{list.id == undefined}}">
		<button ng-click="add_target()" class="btn bg reg-btn">
			<small>add</small>
		</button>
	</div>
</td>
<td>
	<button ng-click="remove_target()" class="btn bg reg-btn">
		<small>delete</small>
	</button>
</td>